<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <% include partials/head.html%>

</head>
<body>
        <% include partials/navigation.html %>

    <div class="container p-5 ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Alexander Santos Diaz</h1>
                <h2>Web Developer Full Stack</h2>
                <hr>

                <h4>Objetivos</h4>
                <p>Mi objetivo para los próximos años es trabajar en una empresa seria y profesional
                donde pueda crecer y terminar de formarme en el desarrollo web. Especializarme en alguna
                de las ramas que ofrece la programación web y convertirme en un gran profesional de esta 
                profesion tan bonita y que tantas satisfacciones me ha dado desde que comencé a programar.
                </p> 
                <h4>Conocimientos</h4>
                
            
                <p>Actualmente estoy estudiando en un pre-bootcamp. Éste comenzará a mediados de octubre, y
                    me mantendrá bastante ocupado durante al menos tres meses. </p>
                <p>
                    Mis conocimientos ahora mismo son excasos en comparación con un profesional, pero
                    tengo ilusión y ganas de aprender y mejorar cada día para convertirme en un gran profesional.
                    
                </p>
                <hr>
               <ul>
                   <li>HTML/CSS: Conocimientos medios. </li>
                   <li>JavaScript: Conocimientos por ahora básicos, aunque me suelo manejar bastante bien.</li>
                   <li>PHP/MySQL: Conocimientos muy básicos. Apenas he tocado aún esta tecnología.</li>
                   <li>NodeJS: Conocimientos básicos/medios, es lo que estoy aprendiendo actualemente. De hecho esta web
                       está creada desde cero con NodeJS.
                   </li>
                   <li>FrameWork Express: He estado usando NodeJS con este framework, que ayuda mucho a la limpieza,
                        tanto del frontend como el backend, de forma que el código quede mucho más ordenado y fácil de entender.
                   </li>
                   <li>Módulos de NodeJS: Conocimientos de Nodemon, motor de plantilla como ejs, morgan entre otros.</li>
                   <li>Framework Bootstrap: Conocimientos de Bootstrap a nivel básico/medio. </li>
                   <li>Wordpress: Ámplios conocimientos de wordpress, desde la instalación, y mantenimiento como plugins 
                       y temas, configurándolo al gusto del cliente.  
                       theme o tema que use.
                   </li>
                   
               </ul>
               <hr>
               <h4>Mis trabajos actuales.</h4>
               <p>
                Dejo un enlace al repositorio de una aplicación de notas, con login y registro de usuarios. Cada uno con su propio desktop de notas personal. 
                <h5>Repositorio</h5>
                <p>Trabajo realizado por cuenta propia siguiendo un tutorial <a href="https://github.com/naymco/notes-app/tree/notes-apps">aquí</a></p>
                <h5>App de notas funcional</h5>
                <p><a href="https://notes-node-js.herokuapp.com/"></a>encontrarás la aplicación completamente funcional. La he creado en Nodejs, Express, mongoDB y varios módulos del node que me permitieron crear esta simple pero completa aplicación.</p>
                <hr>
            </p>     
               <p>Proyectos Bootcamp de GeeksHubs: Esta es una web simple pero responsive. 
                        Simple y muy básica. La iré mejorando con el tiempo. Tienes el enlace <a href="https://naymco.github.io/portfolio-geekshub/" target="_blank">aquí</a>
                    </p>
                    <p>Esta otra web aún está en pruebas pero espero pronto comenzar a trabajar en ella. Mira el enlace <a href="https://naymco.github.io/bootcamp/" target="_blank">aquí.</a>
                     </p>
                     <p>Iré agregando más a medida que vaya hciendo más trabajos.</p>
                     <p>Si quieres ponerte en contacto conmigo no dudes en enviar un mensaje en <a href="/contact">la página de contacto.</a>
            
        


                
            </div>
        </div>
    </div>
<% include partials/footer.html %>
</body>
</html>