<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
  <% include partials/head.html%>
</head>
<body>
       <% include partials/navigation.html %>

       <div class="container-fluid p-0">
          <header>
            <div class="col-lg-12 p-0">
              <img class="container-fluid p-0" src="/img/codeback.jpg" alt="Nodejs">
            </div>

          </header>
       </div>

       <!-- Section ONE-->
       <div class="container" id="about">
        <div class="row bg-light p-5">
            
            
              <h3>Mi primera web en Nodejs y el Framework Express</h3>
              <p>Web completamente creada en HTML 5, CSS3, JavaScript, Nodejs, framework Express, y módulos como Nodemon. 
                Página web de <a href="https://www.npmjs.com/" target="_blank">NPM</a> donde podrás encontrar más información al respecto.
                
              </p>
              <h3>Sobre Mi.</h3>
              <p>Mi nombre es Alexander Santos y actualmente estoy aprendiendo a programar, algo que debí hacer desde siempre, pero que por cosas del destino he ido posponiendo y al final tomé la decisión de realizar mi sueño.</p>
              <p>Es un sueño fácil de comprender y simplemente es vivir de lo que me gusta, que es la informática y sobre todo la programación. Estoy estudiando duramente para un bootcamp que comenzaré en Octubre de 2019, y con ello podré aprender todas las tecnologías que tan de moda están ahora. Una vez que termine el curso mis objetivos son encontrar un buen empleo, donde pueda seguir aprendiendo y mejorando cada día, hasta convertirme en un gran profesional. Ese es mi sueño.</p>
              <p>Puedes ponerte en contacto conmigo por los métodos que encontrarás en esta página web. Email, WhatsApps, llamada telefónica o simplemente en la sección contactar de esta misma página web.</p>
            </div>
        

       </div>

       <% include partials/footer.html %>

    </body>
</html>