<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mensaje enviado</title>
    <% include partials/head.html%>
</head>
<body>
        <% include partials/navigation.html %>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 bg-light text-center">
                <h3 class="p-3">Su mensaje ha sido enviado con éxito.</h3>
            </div>
        </div>
    </div>
    <% include partials/footer.html %>
</body>
</html>